<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
     <link rel="stylesheet" href="/Styles/Home.css">

</head>

<body>
   <header>
       <div class="main">
             <ul>
                 <li><a class="active" href="/index.html">Home</a></li>
                   <li><a  href="/views/CustomerRegister.html">Register</a></li>
                   <li><a  href="/views/CustomerLogin.html">Login</a></li>
                   <li><a  href="#">Contact Us</a></li>
               </ul>

           </div>
           <div class="title">

           </div>
       </header>

      <div class="im">
   <img src="/Images/customer.jpg" alt="" height="800px" width="1800px">
   </div>

</body>
</html>