<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/Styles/Home.css">
</head>
<body class="cus">
<header>
    <div class="main">

        <ul>
            <li><a class="active" href="/index.html">Home</a></li>
            <li><a  href="">Add Home</a></li>
            <li><a  href="#">View Home</a></li>
            <li><a  href="/views/Customer.html">Go Back</a></li>
        </ul>
    </div>
</header>
<h1>This is customer's forgot password!!!!</h1>
</body>
</html>